table {
  border-collapse: collapse;
  margin:0 auto;
  height:400px;
  width:400px;
  font-size:25px;
}
table, th, td {
  border: 3px solid black;
  text-align:center;
}
#gameboard-wrapper {
  float:left;
  margin-left:100px;
}
td:hover {
  cursor:pointer;
  color:dodgerblue;
}
#other {
  float:right;
  margin-right:100px;
}
#players-wrapper, #chat-wrapper {
  width:300px;
  border:3px solid black;
}