<!DOCTYPE html>
<html>
  <head>
    <title>Bingo</title>
    <link href="/style.css" rel="stylesheet">
    <link href="/game.css" rel="stylesheet">
    <link href="/favicon.png" rel="icon">
  </head>
  <body>
    <h1>Bingo</h1>
    {% if host %}
    <p>You are the host.</p>
    <button onclick="generateNumber()">Generate Number</button>
    {% else %}
    <p>Host: {{gamehost}}</p>
    <div id="gameboard-wrapper">
      <p id="gameboard-message"></p>
      <table id="gameboard"></table>
    </div>
    {% endif %}
    <div id="other">
      <div id="players-wrapper">
        <h1>Players</h1>
        <div id="players"></div>
      </div><br><br>
      <div id="chat-wrapper">
        <h1>Chat</h1>
        <div id="chat"></div>
        <input id="input">
        <button>Send</button>
      </div>
    </div>
    <script>
      const name = "{{name}}";
      const room = "{{room}}";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script src="/script.js"></script>
    <script src="/game.js"></script>
  </body>
</html>