<!DOCTYPE html>
<html>
  <head>
    <title>Bingo</title>
    <link href="/style.css" rel="stylesheet">
    <link href="/game.css" rel="stylesheet">
    <link href="/favicon.png" rel="icon">
  </head>
  <body>
    {% if host %}
    You are a host.
    {% else %}
    You are not a host.
    <table id="gameboard"></table>
    {% endif %}
    <script>
      const name = "{{name}}";
      const room = "{{room}}";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script src="/script.js"></script>
    <script src="/game.js"></script>
  </body>
</html>